*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{
background:#111;
color:white;
line-height:1.6;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:black;
}

.logo h2{
color:red;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin:0 15px;
}

nav ul li a{
color:white;
text-decoration:none;
font-size:18px;
}

nav ul li a:hover{
color:red;
}

.btn{
background:red;
padding:10px 20px;
color:white;
text-decoration:none;
border-radius:5px;
}

/* HERO */

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:80px;
}

.hero-text{
max-width:500px;
}

.hero-text h1{
font-size:50px;
margin-bottom:20px;
}

.hero-text p{
margin-bottom:20px;
}

.hero-img img{
width:500px;
border-radius:10px;
}

/* FEATURES */

.features{
text-align:center;
padding:80px;
background:#1b1b1b;
}

.feature-container{
display:flex;
justify-content:center;
gap:40px;
margin-top:40px;
}

.feature{
width:200px;
}

.feature i{
font-size:40px;
color:red;
margin-bottom:15px;
}

/* CLASSES */

.classes{
padding:80px;
text-align:center;
}

.class-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.class-box{
background:#1b1b1b;
padding:20px;
border-radius:10px;
width:250px;
}

.class-box img{
width:100%;
border-radius:10px;
margin-bottom:15px;
}

/* MEMBERSHIP */

.membership{
padding:80px;
background:#1b1b1b;
text-align:center;
}

.plans{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.plan{
background:#111;
padding:30px;
border-radius:10px;
width:200px;
}

.plan h2{
color:red;
margin:10px 0;
}

.plan button{
margin-top:10px;
padding:10px;
background:red;
border:none;
color:white;
cursor:pointer;
}

/* MOTIVATION */

.motivation{
padding:80px;
text-align:center;
}

/* FOOTER */

footer{
background:black;
padding:50px;
}

.footer-container{
display:flex;
justify-content:space-between;
}

.footer-box{
width:30%;
}

.footer-box ul{
list-style:none;
}

.footer-box ul li{
margin:10px 0;
}

.footer-box ul li a{
color:white;
text-decoration:none;
}

.footer-box ul li a:hover{
color:red;
}

.copyright{
text-align:center;
margin-top:30px;
}
